body {
	font-family: sans-serif;
}

svg.cubeDiagram {
	padding: 10px;
}

svg .topFill {
	fill: #bbb;
}

svg.active .topFill {
	fill: #fe6;
}

.outerDiv {
	text-align: center;
}

.ollDiv {
	display: inline-block;
	cursor: pointer;
	width: 136px;
	text-align: center;
	background-color: #fff;
	font-size: 16pt;
	margin: 20px;
	user-select: none;
}

.ollDiv.active {
	background-color: #f0f0f9;
}